<div id="aboutme" class="about-me">
    <div class="row clearfixs">
        <div class="col-sm-12">
            <div class="about-me-title">
                ABOUT ME <span class='title-slogan'>A little about me.</span>
            </div>
        </div>
    </div>
    <div class="row clearfixs">
        <div class="col-sm-4">
            <div class=" profile-image"></div>
        </div>
        <div class="col-sm-8">
            <div class="about-me-content">
                <h2>
                    “Lorem ipsum dolor sit amet, consectet adipiscing elit. Quisque auctor blandit eros.”
                </h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque auctor blandit eros vel scelerisque.
                    Donec
                    mi eros, eleifend et ornare tempus, bibendum a metus. Proin nec nisi et augue sodales gravida. Sed
                    fermentum
                    molestie tortor sit amet pulvinar. Nam commodo pretium adipiscing. Nullam vestibulum fringilla
                    lectus,
                    ut
                    vulputate neque laoreet sit amet.</p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque auctor blandit eros vel
                    scelerisque.
                    Donec
                    mi eros, eleifend et ornare tempus, bibendum a metus. Proin nec nisi et augue sodales gravida. Sed
                    fermentum
                    molestie tortor sit amet pulvinar. Nam commodo pretium adipisci a lectus, ut vulputate neque laoreet
                    sit
                    amet</p>
                <div class="about-me-button">
                    <button class="downloadcv"><a href="/images/Harish_Resume.pdf" download>Download</a></button>
                    <button class="drupal-icon-button"><a href="https://www.drupal.org/u/harish-b" target= "_blank" title="Drupal.org home page" class="drupal-icon">Drupal.org home</a></button>
                    <button class="github-icon-button"><a href="https://github.com/harish137" target= "_blank" class="github-icon" title="GIT HUB page">GITHUB</a></button>
                    <a href="https://www.linkedin.com/in/harish-bompally-591718b3/" target= "_blank" class="fa fa-linkedin"></a>
                    <a href="https://www.facebook.com/harish137" target= "_blank" class="fa fa-facebook"></a>
                </div>
            </div>

        </div>
    </div>
    <div class="row clearfixs">
        <div class="col-sm-3">
            <div class="clearfix grpelem" id="u1871">
                <!-- group -->
                <div class="grpelem" id="u1892">
                    <!-- simple frame -->
                </div>
                <div class="clearfix grpelem" id="pu1884-4">
                    <!-- column -->
                    <div class="clearfix colelem" id="u1884-4">
                        <!-- content -->
                        <p>Name</p>
                    </div>
                    <div class="clearfix colelem" id="u1888-4">
                        <!-- content -->
                        <p>Harish Bompally.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="clearfix grpelem" id="u1872">
                <!-- group -->
                <div class="grpelem" id="u1893">
                    <!-- simple frame -->
                </div>
                <div class="clearfix grpelem" id="pu1885-4">
                    <!-- column -->
                    <div class="clearfix colelem" id="u1885-4">
                        <!-- content -->
                        <p>Address</p>
                    </div>
                    <div class="clearfix colelem" id="u1889-4">
                        <!-- content -->
                        <p>Bangalore, India.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="clearfix grpelem" id="u1873">
                <!-- group -->
                <div class="grpelem" id="u1894">
                    <!-- simple frame -->
                </div>
                <div class="clearfix grpelem" id="pu1886-4">
                    <!-- column -->
                    <div class="clearfix colelem" id="u1886-4">
                        <!-- content -->
                        <p>Phone</p>
                    </div>
                    <div class="clearfix colelem" id="u1890-4">
                        <!-- content -->
                        <p>+91 9886488891</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="clearfix grpelem" id="u1874">
                <!-- group -->
                <div class="grpelem" id="u1895">
                    <!-- simple frame -->
                </div>
                <div class="clearfix grpelem" id="pu1887-4">
                    <!-- column -->
                    <div class="clearfix colelem" id="u1887-4">
                        <!-- content -->
                        <p>Email</p>
                    </div>
                    <div class="clearfix colelem" id="u1891-4">
                        <!-- content -->
                        <p>harishh19@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfixs text-center skill-text">"My skills have enabled me to achieve great results!"</div>
</div>