<div id="education-content" class="education">
    <div class="row">
        <div class="col-sm-12">
            <div class="about-me-title clearfixs">
                EDUCATION <span class='title-slogan'>My academic.</span>
            </div>
        </div>
    </div>
    <div class="row clearfixs">
        <div class="col-sm-4">
            <h6>Lorem ipsum dolor sit amet</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque auctor blandit eros vel
                scelerisque. Donec mi eros, eleifend et ornare tempus, bibendum a metus. Proin nec nisi et augue
                sodales gravida.Sed fermentum molestie tortor sit amet pulvinar. Nam commodo pretium adipiscing.
                Nullam vestibulum fringilla lectus, ut vulputate neque laoreet sit amet.</p>
        </div>
        <div class="col-sm-8 accordian-content">
            <!-- //Accordian -->
            <div class="accordion-education">
                <div class="ac">
                    <h2 class="ac-q" tabindex="0">University of State - Concentration 2001 - 2004</h2>
                    <div class="ac-a">
                        <p>Lorem ipsum dolor sit amet
                            Pellentesque habitant morbi tristique senectus et netus et
                            malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies
                            eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean
                            ultricies mi vitae est. Mauris placerat eleifend leo.</p>
                    </div>
                </div>

                <div class="ac">
                    <h2 class="ac-q" tabindex="0">Master School - Concentration 2004 - 2009</h2>
                    <div class="ac-a">
                        <p>Lorem ipsum dolor sit amet

                            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                            egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.
                            Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris
                            placerat eleifend leo.</p>
                    </div>
                </div>

                <div class="ac">
                    <h2 class="ac-q" tabindex="0">North Technology - Concentration 2009 - 2013</h2>
                    <div class="ac-a">
                        <p>Lorem ipsum dolor sit amet

                            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                            egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante.
                            Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris
                            placerat eleifend leo.</p>
                    </div>
                </div>
            </div>
            <!-- //Accordian Ends. -->
        </div>
    </div>
    <div class="row clearfixs text-center skill-text">“I can know a lot, but my experience shows the best of me!”</div>
</div>